.chal-desc {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
}

.modal-content {
    border-radius: 0px;
    max-width: 1000px;
    padding: 1em;
    margin: 0 auto;
    background-color: #343a40;
}

.btn-info {
    background-color: #5B7290 !important;
}

.badge-info {
    background-color: #5B7290 !important;
}

.close {
    color: #fff;
}

.category-header {
    padding: 1em;
}

.challenges-row {
    max-width: 80%;
    margin: 0 auto;
}

.challenge-button {
    border: 1px dotted;
}

.solved-challenge {
    background-color: #37d63e !important;
    opacity: 0.4;
    border: none;
}

.corner-button-check {
    margin-top: -10px;
    margin-right: 25px;
    position: absolute;
    right: 0;
}

.key-submit .btn {
    height: 51px;
}